* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    height:110px;
    font-size: 15px;
    color:#f2f2f2;
    padding: 5px;

}



.header {
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 14px;
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333333;
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: #333333;
}

.topNav a:active {
    background-color: #04AA6D;
    color: white;
}


h2{
    text-decoration-line: underline;
}
html, body{
    height: 100%;
    background-color: #5A5A5A;
    margin: 0;

}

footer{
    width: 100%;
    position:sticky;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}
.column p {
    font-size: 17px;
    color:white;
}

p{
    color: #f2f2f2;
}
#treasureHunts {
    display: block;
    border-radius: 10px;
    font-size: medium;
    width: 150px;
    text-align: center;

}

#treasureHunts a.two:link,
#treasureHunts a.two:visited {
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: rgba(204, 102, 0, 0.4) -5px 5px, rgba(204, 102, 0, 0.3) -10px 10px, rgba(202, 102, 0, 0.2) -15px 15px, rgba(204, 102, 0, 0.1) -20px 20px, rgba(204, 102, 0, 0.05) -25px 25px;
}
#debatable{
 margin-top: 10%;
 display: inline-block;
}

#treasureHunts a.two:hover {
    color: white;
    background-color: deeppink;
}

#treasureHunts a.two:active {
    background-color: #663300;
    color: white;
}


 .text {
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 0 3px rgba(0, 0, 0.3);
     width: 200px;
     height: 60px;
     font-size: large;
     color: black;
     text-align: center;
 }

ul{
    list-style: none;
}