footer{
    height: 50px;
    width: 100%;
    position: sticky;

}
@media screen and (max-width: 600px) {
.column {
    width: 100%;
}

}
.column p {
    font-size: 17px;
    color:white;
}
.header {
    padding: 10px;
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 10px;
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333333;
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: #333333;
}
body {
    background-color: #5A5A5A;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    height:120px;
    font-size: 13px;
    color:#f2f2f2;
    padding: 5px;

}








table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}