.collaborators {
    float: right;
    margin-top: -120px ;
    color: red;
}
header{
    height: 100%;
    position: absolute;

}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-right {
    float: right;
}

.header {
    padding: 20px;
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 16px;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-right {
    float: right;
}
.footer{
    position: relative;
    : saddlebrown;
    width: 100%;
}
h2{
    text-decoration-line: underline;
}
body{
    background-color: #333333;
}
