* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    height:120px;
    font-size: 13px;
    color:#f2f2f2;
    padding: 5px;



}

.collaborators {
    float: right;
    margin-top: -120px ;
    color: red;
}


.header {
    padding: 20px;
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 16px;
}
.topNav a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: #333333;
}

.topNav a:active {
    background-color: #04AA6D;
    color: white;
}


h2{
    text-decoration-line: underline;
}
html, body{
    height: 100%;
    background-color: #333333;
    margin: 0;
}
.content{
    min-height: 88.4%;
    margin-bottom: -50px;
}
.button{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
}

footer{
    height: 50px;
    width: 100%;

}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}
.column p {
    font-size: 17px;
    color:white;
}
.content2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color:#f2f2f2;
    background-color: #333333;
    padding: 10px;

}