
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}
.column p {
    font-size: 15px;
    color:white;
}
.header {
    padding: 10px;
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 10px;
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333333;
    display: inline-block;
}
.topNav a:active {
    background-color: #04AA6D;
    color: white;
}
.topNav a:hover {
    background-color: #f2f2f2;
    color: #333333;
}
body {
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    height: 100px;
    font-size: 13px;
    color: #f2f2f2;
    padding: 5px;
}

footer{
    height: 50px;
    width: 100%;
    margin-top: 5%;
}
#header{

    color: red;
    text-decoration: underline;
}
#head{
    text-decoration: underline;
    color: crimson;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height:30%;
    color: #f2f2f2;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td{
    color:yellow;
}
html, body{
    height: 100%;

}


