.header {
    padding: 10px;
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 10px;
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333333;
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: #333333;
}
body {
    background-color: #5A5A5A;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    height:120px;
    font-size: 13px;
    color:#f2f2f2;
    padding: 5px;

}
footer{
    height: 50px;
    width: 100%;
    position: sticky;

}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}
.column p {
    font-size: 17px;
    color:white;
}
.content2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color:#f2f2f2;
    background-color: #333333;
    padding: 10px;

}
.credentials {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f2f2f2;


    
}
.AppBody {
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic;
    color: White;
    margin-left: 50px;
    
}
.explorer{
    margin-left: 5%;
    margin-top: 138px;
}
.speech-bubble {
    padding: 10px;
    width: 90px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}
html, body{
    height: 100%;
    background-color: #5A5A5A;
    margin: 0;
}


.speech-bubble:before {
    top: -10px;
}

.speech-bubble:after {
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
    top: -12px;
}
.button2{
    font-size: 20px;
    background-color: coral;
}
h2{
    text-decoration-line: underline;
}
