* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    height:120px;
    font-size: 13px;
    color:#f2f2f2;
    padding: 5px;

}



.header {
    text-align: left;
    background: saddlebrown;
    color: white;
    font-size: 14px;
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333333;
}

.topNav a:hover {
    background-color: #f2f2f2;
    color: #333333;
}

.topNav a:active {
    background-color: #04AA6D;
    color: white;
}


h2{
    text-decoration-line: underline;
}
html, body{
    height: 100%;
    background-color: #5A5A5A;
    margin: 0;

}

footer{
    height: 50px;
    width: 100%;
    position:sticky;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}
.column p {
    font-size: 17px;
    color:white;
}

p{
    color: #f2f2f2;
}

.text{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0.3);
    width: 200px;
    height: 60px;
    font-size: large;
    color:black ;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.explorer{
    margin-left: 5%;
    margin-top: 129px;
}
